#game 
{
    background-image:url('textures/background/background.png');
    margin:auto;
    width:600px;
    height:450px;
    border:1px solid white;
}

#ball
{
    background-image:url('textures/user/ball.png');
    width:8px;
    height:8px;
    position:relative;
}

#paddle
{
    background-image:url('textures/user/paddle.png');
    width:60px;
    height:11px;
    position:relative;
    top:431px;
}

#info
{
    background-image:url('textures/background/background2.png');
    margin:auto;
    width:600px;
    border:1px solid white;
    margin-top:10px;
}